@{
    ViewData["Title"] = "Bohyun Suh Portfolio";
}

    <div class="text-left">
        <h1 class="display-4"><strong>Bohyun Suh</strong></h1>
        <br />
        <hr>
        <br />

        <h3>EDUCATION</h3>
        <br />
        <div>
            <img src="~/img/utd.jpg" id="schoolImg" />
            <div id="schoolInfo">
                <h5>Master of Science in Computer Science</h5>
                <p>The University of Texas at Dallas, Richardson, Texas</p>
                <p>December 2020</p>
            </div>
        </div>
        <br />

        <div>
            <img src="~/img/ttu.png" id="schoolImg" />
            <div id="schoolInfo">
                <h5>Bachelor of Science in Computer Science</h5>
                <p>Texas Tech University, Lubbock, Texas</p>
                <p>May 2018</p>
            </div>
        </div>
        <br>
        <hr>
        <br />
        <h3>TECHNICAL SKILLS</h3>
        <br />
        <h5><strong>Development</strong>: C#, SQL, HTML, CSS, Java</h5>
        <h5><strong>Operating Systems</strong>: Windows, Linux</h5>
        <br />
        <hr>
        <br />
        <h3>PROFESSIONAL EXPERIENCE</h3>
        <br />
        <h5>Research Assistant (Machine Learning)</h5>
        <p>Erik Jonsson Department of Computer Science, UT Dallas</p>
        <ul>
            <li>Review research papers regarding Android malware detection using machine learning</li>
            <li>Develop a framework that uses knowledge base and pattern class to increase accuracy</li>
        </ul>
        <br />

        <h5>Software Engineer Intern</h5>
        <p>Axxess Technology Solutions, Dallas, Texas</p>
        <ul>
            <li>Implemented new features in <strong>ASP.Net Framework</strong> and wrote unit tests to debug and correct mistakes</li>
            <li>Maintained an existing software by fixing bugs and testing with Swagger</li>
            <li>Communicated closely with product owners and a mentor to deliver high-quality work and continuous version control by using Kanban board, TeamCity, Stash and Git</li>
        </ul>
        <br />

        <h5>Research Assistant (Privacy Policy)</h5>
        <p>Whitacre Engineering Department of Computer Science, Texas Tech</p>
        <ul>
            <li>Published a research paper in ESPRE 2018 as a second author</li>
            <li>Developed an Android-based mobile application using <strong>Java</strong> to ensure other applications complied with theprivacy policy</li>
            <li>Provided a weekly progress report and received feedback regarding the content and technical aspect</li>
        </ul>
        <br />

        <h5>Telegraphist (Signal Corps, discharged as Signaller, Sergeant)</h5>
        <p>Republic of Korea Army, Gangwon-do, South Korea</p>
        <ul>
            <li>Placed with a specialty of troubleshooting communication devices and repairing when needed</li>
            <li>Installed and maintained operation lines in and out of the unit</li>
            <li>Developed teamwork and communication skills through work assigned on the communication base</li>
        </ul>
        <br />


        <hr>
        <br />
        <h3>PROJECTS</h3>
        <br />
        <h5>Android/iOS Application: New Song Path</h5>
        <ul>
            <li>Designed and developed an Android-based mobile application in <strong>Android Studio</strong> to provide user-friendly interfaces for a local community</li>
            <li>Available on Google Play and App Store</li>
            <li><a href="https://play.google.com/store/apps/details?id=com.newsong.newsongtime">Google Play</a></li>
            <li><a href="https://apps.apple.com/us/app/new-song-path/id1495139103">App Store</a></li>
        </ul>

        <h5>House Price Prediction with Machine Learning</h5>
        <ul>
            <li>Performed data preprocessing and created models that predict house price</li>
            <li>Implemented several algorithms and parameter tuning using <strong>Python</strong> to find the optimal solution</li>
        </ul>

        <h5>Android Application: FitTime</h5>
        <ul>
            <li>Implemented key features such as login with Google account, notifications, and video clips stored in Firebase to provide better quality and performance</li>
        </ul>
        <br />

        <hr>
        <br />
        <h3>CAMPUS INVOLVEMENT</h3>
        <br />
        <h5>Rawls Information Security Association (RISA)</h5>
        <p>Database Developer, Texas Tech</p>
        <ul>
            <li>Collaborated with Technical Lead and Project Lead to develop a merit-based HR database web application which will be used for internal and external recruitment</li>
        </ul>

    </div>
